**/__pycache__/
**/.pytest_cache/
**/.venv/
**/.idea/
**/.vscode/
**/.github/
**/.mypy_cache/
**/test/
**/logs/
**/migrations/
**/.git/

# Ignore all files and directories listed above
main.py
.gitignore
